html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#featureModal .modal-body {
  padding: 5px;
  overflow: auto;
}
#featureTable .modal-body {
  padding: 0px 5px 5px 5px;
}
#featureTable table tr {
  cursor: pointer;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.leaflet-control-layers-overlays label div input {
  float: left;
}
.layer-name {
  float: left;
}
.layer-buttons {
  float: right;
}
.layer-btn {
  padding-left: 6px;
}
.file-control-btn {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}
@media (max-width: 768px) {
  .leaflet-control-layers-list {
    font-size: large;
  }
}