html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#map {
  background: white;
}
table {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}
table th, td {
  border: 1px solid #ccc;
  padding: 5px;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
/* .vex {
  margin: 15px;
} */
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 5px;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type='radio'], input[type='checkbox'] {
  margin: 2px;
}
/* .layer-name {
  display: inline-flex;
  max-width: 65%;
  overflow: auto;
} */
.layer-buttons {
  display: flex;
}
.layer-btn {
  padding-left: 10px;
}
.leaflet-container a {
  -webkit-tap-highlight-color: unset;
}
.leaflet-touch .leaflet-control-layers {
  border-radius: 50%;
}
.leaflet-control-layers {
  border-radius: 50%;
}
.leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.leaflet-touch .leaflet-control-layers-expanded {
  border-radius: 5px;
}
.leaflet-control-layers-expanded {
  border-radius: 5px;
}
.leaflet-bar {
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.65); */
  border-radius: 50%;
}
.leaflet-bar a {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.leaflet-touch .leaflet-bar a {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.leaflet-bar a, .leaflet-bar a:hover {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.leaflet-touch .leaflet-bar a, .leaflet-bar a:hover {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.file-control-btn {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}
@media (max-width: 768px) {
  .leaflet-control-layers-list {
    font-size: medium;
  }
}
/* Progress Bar https://codepen.io/holdencreative/pen/vEVbwv */
.progress {
  position: relative;
  height: 4px;
  display: none;
  width: 100%;
  background-color: darkgray;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 999;
}
.progress .indeterminate {
  background-color: white;
}
.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}