html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#map {
  background: white;
}
table {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}
table th, td {
  border: 1px solid #ccc;
  padding: 5px;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
.leaflet-popup-close-button {
  /* display: none; */
  top: -8px !important;
  right: -8px !important;
  padding: 2px !important;
  border-radius: 50% !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
  height: 16px !important;
  width: 16px !important;
  background: white !important;
  color: gray !important;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 5px;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.leaflet-control-layers-overlays label {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
.leaflet-control-layers-overlays label:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type='radio'], input[type='checkbox'] {
  margin: 2px;
}
/* .layer-name {
  display: inline-flex;
  max-width: 65%;
  overflow: auto;
} */
.layer-buttons {
  display: flex;
}
.layer-btn {
  padding-left: 10px;
  font-size: 22px;
  text-decoration: none;
}
.leaflet-container a {
  -webkit-tap-highlight-color: unset;
}
.leaflet-touch .leaflet-control-layers {
  border-radius: 50%;
}
.leaflet-control-layers {
  border-radius: 50%;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 56px;
  height: 56px;
}
.leaflet-control-layers-toggle {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.leaflet-touch .leaflet-control-layers-expanded {
  border-radius: 5px;
}
.leaflet-control-layers-expanded {
  border-radius: 5px;
}
.leaflet-bar {
  border-radius: 50%;
}
.leaflet-bar a {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.leaflet-touch .leaflet-bar a {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.leaflet-bar a, .leaflet-bar a:hover {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.leaflet-touch .leaflet-bar a, .leaflet-bar a:hover {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: unset;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.file-control-btn {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}
.icon-add, .icon-delete, .icon-gps_fixed, .icon-gps_not_fixed, .icon-gps_off {
  font-size: 24px;
}
[class^="icon-"], [class*=" icon-"] {
  line-height: unset;
}
@media (max-width: 768px) {
  .leaflet-control-layers-list {
    font-size: medium;
  }
}
.spinner {
	display: inline-block;
	animation: anim-rotate 2s infinite linear;
}
@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* Progress Bar https://codepen.io/holdencreative/pen/vEVbwv */
.progress {
  position: relative;
  height: 4px;
  display: none;
  width: 100%;
  background-color: darkgray;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 999;
}
.progress .indeterminate {
  background-color: white;
}
.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}