html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}
table th, td {
  border: 1px solid #ccc;
  padding: 5px;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
/* .vex {
  margin: 15px;
} */
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 5px;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
/* .layer-name {
  display: inline-flex;
  max-width: 65%;
  overflow: auto;
} */
.layer-buttons {
  display: flex;
}
.layer-btn {
  padding-left: 10px;
}
.leaflet-container a {
  -webkit-tap-highlight-color: unset;
}
.file-control-btn {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}
@media (max-width: 768px) {
  .leaflet-control-layers-list {
    font-size: medium;
  }
}